$responsive: true;

$PTSI: 'PT_serif_italic', sans-serif;
$PTSR: 'PT_serif_regular', sans-serif;
$PTSB: 'PT_serif_bold', sans-serif;
$HB: 'Helvetica_Neue_bold', sans-serif;
$HR: 'Helvetica_Neue_regular', sans-serif;
$HL: 'Helvetica_Neue_light', sans-serif;

$black: #000000;
$white: #ffffff;
$orange: #fa9418;
$green: #00ad5d;
$light-gray: #fefefe;
$gray: #eceff1;
$light-green: #c1de97;